@{
    ViewData["Title"] = "Confirm Email";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Thank you for confirming your email. You will be contacted once your account has been approved by an administrator.
    </p>
</div>
