<ion-view title="Events">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-qr-scanner" ng-click="doCheckin()"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>

        <ion-list>
            <ion-item class="item-icon-right item-text-wrap" collection-repeat="n in eventList" ng-click="onSelect(n)">
                <h1>{{n.Title}}</h1>
                <div class="row">
                    <div class="col">
                        <img style="width: 50px; height: 50px;" ng-src="n.ManagingTenant.LogoUrl" ng-show="n.ManagingTenant.LogoUrl" />
                        <img style="width: 50px; height: 50px;" src="img/missing-logo.png" ng-show="!n.ManagingTenant.LogoUrl" />
                    </div>
                    <div class="col-75">
                        <h2>{{ n.Description }}</h2>
                        <p class="wrap">Campaign: {{ n.CampaignName }}</p>
                        <p>Started: {{ n.StartDateTime | dateFilter }}</p>
                    </div>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>