@using AllReady.ViewModels
@using AllReady.ViewModels.Campaign
@model AllReady.Models.CampaignImpact

<div class="panel panel-success campaign-impact">
    <div class="panel-heading">@Html.Raw(Model.TextualImpactGoal) </div>
    <div class="panel-body" style="height: 350px">
        @if (Model.ImpactType == ImpactType.Numeric)
            {
            <div data-control="thermometer" data-max-value="@Model.NumericImpactGoal" data-current-value="@Model.CurrentImpactLevel">

            </div>
        }
    </div>
</div>