@using AllReady.ViewModels
@model CampaignViewModel

<div class="panel panel-success campaign-impact">
    <div class="panel-heading">@Html.Raw(Model.CampaignImpact.TextualImpactGoal) </div>
    <div class="panel-body" style="height: 350px">
        @if (Model.CampaignImpact.ImpactType == ImpactType.Numeric)
            {
            <div data-control="thermometer" data-max-value="@Model.CampaignImpact.NumericImpactGoal" data-current-value="@Model.CampaignImpact.CurrentImpactLevel">

            </div>
        }
    </div>
</div>