@model CampaignViewModel

@if (Model.CampaignImpact.CampaignImpactType != null)
{
    <div class="panel campaign-impact">
        <div class="panel-heading">Campaign Goal</div>
        <div class="panel-body">
            @if (Model.CampaignImpact.CampaignImpactType.ImpactType == "Textual" && !string.IsNullOrWhiteSpace(Model.CampaignImpact.TextualImpactGoal))
            {
                @Html.Raw(Model.CampaignImpact.TextualImpactGoal);
            }
            else if (Model.CampaignImpact.CampaignImpactType.ImpactType == "Numeric")
            {
                <!-- TODO: Display thermometer showing impact progress -->
                
            }
        </div>
    </div>
}