@model CampaignViewModel
@{
    @addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
}
<environment names="Development">
    <link rel="stylesheet" href="~/css/campaignStyle.css" />
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="~/css/campaignStyle.css" asp-file-version="true" />
</environment>

<div class="row">
    <div class="col-sm-12">
        <div id="bingMap" style="position:relative"></div>
    </div>
</div>
@section scripts {
<script>
    var modelCampaign = @Json.Serialize(Model);

    $(document).ready(function () {
        $("#bingMap").css("width", "1000px").css("height", "600px");
    });
</script>

    <script src="~/js/mapinteraction.js"></script>
    <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
}
