@model CampaignViewModel
@{
    @addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
}
<environment names="Development">
    <link rel="stylesheet" href="~/css/campaignStyle.css" />
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="~/css/campaignStyle.css" asp-file-version="true" />
</environment>

<div class="row">
    <div class="col-sm-12">
        <div id="mapArea" style="position:relative;width:800px;height:600px"></div>
    </div>
</div>
@section scripts {
<script src="~/js/system.js"></script>
<script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>


<script>
    var modelCampaign = @Json.Serialize(Model);

    System.config({
        baseURL: location.protocol + "//" + location.host + '/ts/'
    });

    // load from an absolute URL directly
    System.import('http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0');
    System.import('mappingTools.js').then(function (sys) {
        var map = new sys.HTBox.maps.MapRender('mapArea');
        map.zoomToMyLocation();
    });;


</script>
}
