@model List<PrepOps.ViewModels.TenantViewModel>
@{  ViewData["Title"] = "Organizations";}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-12">
        <ul>
            @foreach (var tenant in Model) {
                <li><a asp-controller="Tenant" asp-action="ShowTenant" asp-route-id="@tenant.Id">@tenant.Name</a></li>
            }
        </ul>
    </div>
</div>
