@model PrepOps.ViewModels.TenantViewModel
@{  ViewData["Title"] = "Organization " + Model.Name; }

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Organization's campaigns</h3>
        <ul>
            @foreach (var campaign in Model.Campaigns) {
                <li><a asp-controller="Campaign" asp-action="Details" asp-route-id="@campaign.Id">@campaign.Name</a></li>
            }
        </ul>
    </div>
</div>
