// REFERENCE:
//           http://eslint.org/docs/user-guide/configuring.html
{
    // NOTE:
    //      this is special config for only certain rules;
    //      many other rules are already enabled by default
    "rules": {
        // "indent": [
        //     2,
        //     4
        // ],
        // "quotes": [
        //     2,
        //     "double"
        // ],
        "semi": [
            2,
            "always"
        ],
        "no-unused-vars": [
            2,
            {
                "args": "none"
            }
        ],

        // disabled rules
        "linebreak-style":         [0],
        "global-strict":           [0],
        "no-irregular-whitespace": [0],
        "key-spacing":             [0],
        "no-multi-spaces":         [0],
        "no-console":              [0]
    },

    // NOTE:
    //      true/false means a variable allowed or not
    //      allowed to be overwritten, respectively
    "globals": {
        "angular": false,
        "cordova": false,
        "moment": false,
    },

    "env": {
        "browser": true
    }
}
