# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
bin/
bld/
plugins/
simulation/
vs/
.sourcemaps/
*.jsproj.user
.editorconfig
