@using AllReady.ViewModels.Manage
@model AllReady.ViewModels.Manage.ChangeEmailViewModel
@{
    ViewData["Title"] = "Change Email";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Manage" asp-action="ChangeEmail" method="post" class="form-horizontal" role="form">
    <h4>Change Email Form</h4>
    <hr />
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NewEmail" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewEmail" class="form-control" />
            <span asp-validation-for="NewEmail" class="text-danger"></span>
        </div>
    </div>    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Change email</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
