@using AllReady.ViewModels.Manage
@model AllReady.ViewModels.Manage.VerifyPhoneNumberViewModel
@{
    ViewData["Title"] = "Confirmation Email Sent";
}

<h2>@ViewData["Title"]</h2>

<div class="panel panel-default">
    <div class="panel-body">
        We have sent you a new confirmation email. You should receive it in a few minutes. Once you receive the email, click the link to confirm your email address.
        <br/><br/>
        <em>If don't see the email address in your inbox, check your trash/spam folder.</em>
    </div>
</div>
