@font-face {
    font-family: segoeuilight;
    src: url('../font/segoeuil.ttf');
}

@font-face {
    font-family: segoeuisemilight;
    src: url('../font/segoeuisl.ttf');
}

@font-face {
    font-family: segoeui;
    src: url('../font/segoeui.ttf');
}

body {
    background-color: #f7f2eb;

    font-family: segoeui;
}

h1 {
    font-size: 14pt;
    font-weight: normal;

    font-family: segoeuilight;
}

h2 {
    font-size: 10pt;
    font-weight: normal;

    font-family: segoeui;
}

h3 {
    font-size: 8pt;
    font-weight: normal;

    font-family: segoeui;
}

p {
    font-size: 8pt;
    font-weight: normal;

    font-family: segoeui;
}

.bar.bar-allready {
    background: #ef903a;
    border-color: #ef903a;

    font-family: segoeuilight;
}

.list {
    margin-bottom: 40px;
    border-bottom: 6px solid #000;
}

ion-content {
    background: #f7f2eb;
}

.icon.ion-chevron-right {
    color: #ef903a;
}

.map {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 300px;
}

.item-avatar>img:first-child {
    border-radius: 0;
}

a, a:link, a:hover {
    color: #ef903a;
    text-decoration: none;
}
