@model List<AllReady.ViewModels.Organization.OrganizationViewModel>
@{
    ViewData["Title"] = "Organizations";
}

<div class="row">
    <div class="col-12">
        <ol class="breadcrumb">
            <li><a asp-page="/Index">Home</a></li>
            <li>Organization</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="col-md-6">
        <div class="pull-right">
            <div class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control input-sm" data-bind="textInput: organizations.searchTerm" placeholder="Search organizations" />
                </div>
                <span data-bind="text: '(' + total + ')' "></span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="hide text-center" data-bind="css: { hide: organizations.filtered().length }">
        <div class="alert alert-warning" role="alert">
            <strong>No matching organizations.</strong>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row" data-bind="foreach: organizations.filtered">
            <a data-bind="attr: { href: '/Organization/' + Id }">
                <div class="col-md-6">
                    <div class="org-tile">
                        <div class="row">
                            <div class="col-xs-12">
                                <h2 data-bind="text: Name"></h2>
                            </div>
                        </div>
                        <div class="row" data-bind="if: LogoUrl">
                            <div class="col-xs-5 col-lg-7 org-tile-fixed">
                                <img data-bind="attr:{src: LogoUrl}" class="img-responsive" />
                            </div>
                            <div class="col-xs-7 col-lg-5">
                                <p data-bind="text: Summary"></p>
                            </div>
                        </div>
                        <div class="row" data-bind="ifnot: LogoUrl">
                            <div class="col-xs-12 org-tile-fixed">
                                <p data-bind="text: Summary"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var modelOrganizations = @Json.Serialize(Model);
    </script>
    <script type="text/javascript" src="~/js/organizations.js"></script>
}
