@using System.Threading.Tasks
@model AllReady.Areas.Admin.ViewModels.Resource.ResourceCreateViewModel
@inject AllReady.Services.ISelectListService SelectListService

<h2>@ViewBag.Title</h2>

<form asp-controller="ResourceAdmin" asp-area="Admin" method="post" enctype="multipart/form-data">

    <div class="form-horizontal row">
        <hr />
        <div class="form-horizontal col-lg-6 pull-left">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input asp-for="CampaignId" type="hidden" />

            <div class="form-group">
                <label asp-for="Name" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ResourceUrl" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="ResourceUrl" class="form-control" />
                    <span asp-validation-for="ResourceUrl" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

        </div>
    </div>
</form>