@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
}
<h1>@Model.Name</h1>
<p>@Model.Description</p>
<p>You should volunteer too!</p>