<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGetorg" value="https://nuget.org/api/v2/" />
    <add key="AspNetBeta5" value="https://www.myget.org/F/aspnetbeta5/api/v2" />
    <add key="AspNetBeta5Share" value="\\projectk-tc\Drops\Coherence-Signed\release\Latest\Packages-NoTimeStamp" />
  </packageSources>
  <disabledPackageSources>
    <add key="AspNetBeta5" value="true" />
    <add key="AspNetBeta5Share" value="true" />
  </disabledPackageSources>
</configuration>
