@using AllReady.Constants
@model AllReady.Areas.Admin.ViewModels.Site.AssignOrganizationAdminViewModel
@{
    ViewBag.Title = "Assign Organization Admin";
}

<div class="col-md-6 col-md-offset-3">
    <h2>Assign Organization Admin</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();
        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="UserId" />
        <div class="form-group">
            <label>Organization:</label>
            <select asp-for="OrganizationId" asp-items="ViewBag.Organizations" class="form-control"></select>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Assign Admin" />
            <a asp-area="@AreaNames.Admin" asp-controller="Site" asp-action="Index" class="btn btn-default">Cancel</a>
        </div>
    }
</div>