@using AllReady.Areas.Admin.ViewModels;
@using AllReady.Security;

@model SiteAdminViewModel
@{
    ViewData["Title"] = "Site Admin";
}

<h2>User Admin</h2>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    Username
                </th>
            </tr>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>
                        <a asp-action="EditUser" asp-controller="Site" asp-route-area="Admin" asp-route-userId="@item.Id">@item.UserName</a>
                    </td>
                </tr>
            }
        </table>

    </div>
</div>