@using AllReady.Constants
@{
    ViewBag.Title = "Password Reset";
}
<h2>Password Reset</h2>
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        <div>@ViewBag.ErrorMessage</div>
    </div>
}
@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">
        <div>@ViewBag.SuccessMessage</div>
    </div>
}
<a asp-area="@AreaNames.Admin" asp-controller="Site" asp-action="Index" class="btn btn-default btn-sm">Back to List</a>
