@{
    ViewData["Title"] = "Locked out";
}

<hgroup>
    <h1 class="text-danger">Locked out.</h1>
    <p class="text-danger">This account has been locked out, please try again later or contact your organization administrator.</p>
</hgroup>
