@inject Microsoft.Framework.Configuration.IConfiguration Config
@{
    ViewData["Title"] = "Log in";
    var clientId = Config.Get("Authentication:Auth0:ClientId");
    var domain = Config.Get("Authentication:Auth0:Domain");
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <section>
            @{
                if (clientId == null || domain == null)
                {
                    <div>
                        <p>
                            Create an Auth0 account to proceed
                        </p>
                    </div>
                }
                else
                {
                    <script src="https://cdn.auth0.com/js/lock-7.5.min.js"></script>
                    <script>
                        var lock = new Auth0Lock('@Config.Get("Authentication:Auth0:ClientId")', '@Config.Get("Authentication:Auth0:Domain")');
                        $.ready(function (){
                            $.post('@Url.Action("Prepare", "Account")', { '.redirect': window.location.pathname }, function (data) {
                                lock.show({
                                    callbackURL: window.location.origin + '@Url.Action("Callback", "Account")',
                                    authParams: {
                                        nonce: data.nonce,
                                        state: data.state,
                                        scope: 'openid email name',
                                        response_mode: 'form_post',
                                        response_type: 'token'
                                    }
                                });
                            });
                        });
                        
                    </script>
                }
            }
        </section>
    </div>
    <div class="col-md-3"></div>
</div>