@model AllReady.Areas.Admin.ViewModels.ManagerInvite.AcceptDeclineEventManagerInviteViewModel

@{
    ViewData["Title"] = "Event Manager Invite Accepted";
}

<h2>@ViewData["Title"]</h2>

<p>You have accepted the invitation to manage the event @Model.EventName in the campaign @Model.CampaignName</p>

