@model AllReady.Areas.Admin.ViewModels.ManagerInvite.AcceptDeclineEventManagerInviteViewModel

@{
    ViewData["Title"] = "Event Manager Invite Declined";
}

<h2>@ViewData["Title"]</h2>

<p>You have declined the invitation to manage the event @Model.EventName in the campaign @Model.CampaignName</p>

