@model SkillDeleteModel

@{
    ViewData["Title"] = $"Delete skill {Model.HierarchicalName}";
}

<div class="row">
    <div class="col-md-12">
        <h3>Are you sure you want to delete @Model.HierarchicalName?</h3>
        @if (Model.ChildrenNames.Count() > 0)
        {
            <div class="alert alert-warning" role="alert">
                <strong>Whoa there!</strong>
                The following skills will become orphans if you delete @Model.HierarchicalName:
                <ul>
                    @foreach (string childSkill in Model.ChildrenNames)
                    {
                        <li>@childSkill</li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <button type="submit" class="btn btn-default">Delete</button>
                <a class="btn btn-default" asp-route-area="Admin" asp-controller="Skill" asp-action="Index">Back to List</a>
            </div>
        }
    </div>
</div>
