@{
    ViewBag.Title = "404! We went off the rails...";
}
<p class="lead">
    404 :(
</p>
<p class="lead">
    We went off the rails and couldn’t find your page! <br />
    Don’t worry. We’ll get back on track.
</p>
<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <img src="~/images/404.jpg" class="img-responsive center-block" alt="404" />
    </div>
</div>