<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        .bgimage         
        { 
                background:  url("/images/404.png");
                background-repeat:no-repeat;
                margin-left:-40px;
                margin-top:-40px;
                width:99%;
                height:800px;
                padding:0;        
               }
        .errortext
        {
            font-size:xx-large;
            font-weight: 600;
            text-align:left;
            margin-left: 2%;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        }
         .errortextbig
        {
            font-size: 48pt;
            text-align:left;
            padding-top: 2%;
            margin-left: 2%;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif        
        }
    </style>
</head>
<body>
    <div class="bgimage">
        <p class="errortextbig">
            404 :(
           </p> 
    <p class="errortext">
         We went off the rails and couldn’t find your page! <br /> Don’t worry. We’ll get back on track.
        </p>
        <br />
    </div>
</body>
</html>