<ion-view title="Hours">
    <ion-content>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <div id="btnSignIn" style="text-align: center;"><button class="button button-large" ng-click="setTimeIn()">Sign In</button></div>
        <p>&nbsp;</p>
        <div id="signin" style="text-align: center;">Timestamp</div>
        <p>&nbsp;</p>
        <div id="btnSignOut" style="text-align: center;"><button class="button button-large" ng-click="setTimeOut()">Sign Out</button></div>
        <p>&nbsp;</p>
        <div id="signout" style="text-align: center;">Timestamp</div>
    </ion-content>
</ion-view>