@page
@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a asp-page="/Index">Home</a></li>
            <li>About</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h3>What is allReady?</h3>
        <p>
            While we can’t stop disasters from happening, we can lessen their impact on our families and the communities
            we live in by being prepared. Preparedness is a key factor in reducing impacts and together citizens &
            organizations can build resilient communities. No one can eliminate disasters, but together we can be ready to be safer,
            save lives and recover faster when the unexpected happens.
        </p>
        <p>
            allReady brings together community members, volunteers, humanitarian and community organizations to make our communities
            more resilient to the effects of disasters by making preparedness events more visible and effective to the communities
            they serve and the volunteers who support them.
        </p>
        <p>
            In fact, allReady itself came from a group of folks across non-profits, software organizations and open source
            communities who volunteered to work together to build a solution to connect communities with opportunities to prepare, bringing communities and volunteers together, and increasing community preparedness.
        </p>

        <h3>Get connected.</h3>
        <p>
            Time after time, experiences in responding to disasters have shown that the most connected communities are the most resilient to disasters. allReady is built to connect communities, volunteers, and organizations around the impact that preparedness campaigns can have.
        </p>
        <p>
            What organizations are helping out in my community? How can I work with them to help my family be better prepared? I have a busy schedule, but where can I have the most impact volunteering to help the community prepare?
        </p>
        <p>
            These are all questions that allReady answers by making preparedness campaigns more visible to community members and showcasing their results in an open and transparent manner.
        </p>

        <h3>Work together.</h3>
        <p>
            Preparedness campaigns are powered by neighbors helping neighbors and volunteers who give their time to strengthen their communities.
            allReady allows campaign coordinators to engage, contact and connect volunteers with the preparedness work that needs to be delivered.
        </p>
        <p>
            Coordinating their work, ensuring every community member is served and ensuring volunteer time is spent delivering meaningful impact grows the magnitude of impact everyone has together and ensure volunteers will be ready to volunteer again for their community.
        </p>

        <h3>Be prepared.</h3>
        <p>The better prepared families and communities are the less disasters will be able to impact our lives. allReady allows community members and organizations to track progress toward preparedness, to learn about events in other neighborhoods and to know where to dedicate additional focus to build community resiliency together.</p>

        <h3>What's with the Logo?</h3>
        <a asp-page="/Aesop">A Story by Aesop</a>
    </div>
</div>
