@page
@{
    ViewData["Title"] = "A Story by Aesop";
}

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a asp-page="/Index">Home</a></li>
            <li><a asp-page="/About">About</a></li>
            <li>Aesop</li>
            
        </ol>
    </div>
</div>

<div class="row">

    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1>A Story by Aesop</h1>
        <div style="background-color: #d58033;">
            <img src="~/images/Web-Logo.png" alt="Logo image for the project" class="img-responsive center-block"/>
        </div>
        <h2>The Ant and the Grasshopper</h2>
        In a field one summer's day a Grasshopper was hopping about, chirping and singing to its heart's content. An Ant passed by, bearing along with great toil an ear of corn he was taking to the nest.

        "Why not come and chat with me," said the Grasshopper, "instead of toiling and moiling in that way?"

        "I am helping to lay up food for the winter," said the Ant, "and recommend you to do the same."

        "Why bother about winter?" said the Grasshopper; "We have got plenty of food at present." But the Ant went on its way and continued its toil.

        When the winter came the Grasshopper had no food and found itself dying of hunger - while it saw the ants distributing every day corn and grain from the stores they had collected in the summer. Then the Grasshopper knew: It is best to prepare for days of need.
    </div>
    <div class="col-md-3"></div>
</div>
