@page
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>AllReady Privacy Policy</h1>

<div>
    This privacy policy has been compiled to better serve those who are concerned
    with how their 'Personally Identifiable Information' (PII) is being used online.
    PII, as described in US privacy law and information security, is information
    that can be used on its own or with other information to identify, contact, or
    locate a single person, or to identify an individual in context. Please read our
    privacy policy carefully to get a clear understanding of how we collect, use,
    protect or otherwise handle your Personally Identifiable Information in
    accordance with our website.
</div>
<div>
    <strong>What personal information do we collect from the people that visit our blog, website or app?</strong>
</div>
<div>
    When registering on our site, as appropriate, you may be asked to enter your name,
    email address, phone number or other details to help you with your experience.
</div>
<div>
    <strong>When do we collect information?</strong>
</div>
<div>
    We collect information from you when you register on our site or enter information on our site.
</div>
<p><br></p>
<div>
    <strong>How do we use your information?</strong>
</div>
<div>
    We may use the information we collect from you when you register, sign up volunteer,
    respond to a survey or marketing communication, surf the website, or use certain
    other site features in the following ways:<br>
</div>
<div>
    <strong>&bull;</strong> To personalize your experience and to allow us to deliver the type of content and events in which you are most interested.
</div>
<div>
    <strong>&bull;</strong> To follow up with you after correspondence (live chat, email or phone inquiries)
</div>
<div>
    <strong>How do we protect your information?</strong>
</div>
<div>
    We only provide articles and information. We never ask for credit card numbers.
</div>
<div>
    We use regular Malware Scanning.<br>
</div>
<div>
    Your personal information is contained behind secured networks and is only
    accessible by a limited number of persons who have special access rights to
    such systems, and are required to keep the information confidential. In addition,
    all sensitive information you supply is encrypted via Secure Socket Layer (SSL) technology.
</div>
<div>
    We implement a variety of security measures when a user enters, submits, or
    accesses their information to maintain the safety of your personal information.
</div>
<div>
    <strong>Do we use 'cookies'?</strong>
</div>
<div>
    Yes. Cookies are small files that a site or its service provider transfers to your
    computer's hard drive through your Web browser (if you allow) that enables the
    site's or service provider's systems to recognize your browser and capture and
    remember certain information. For instance, we use cookies to help us remember
    and progress events that you are interested in. They are also used to help us understand
    your preferences based on previous or current site activity, which enables us to
    improve the experience for all volunteers. We also use cookies to help us compile
    aggregate data about site traffic and site interaction so that we can offer better
    site experiences and tools in the future.
</div>
<div>
    <br>
    <strong>We use cookies to:</strong>
</div>
<div>
    <strong>&bull;</strong> Understand and save user's preferences for future visits.
</div>
<div>
    <br>
    You can choose to have your computer warn you each time a cookie is being sent, or
    you can choose to turn off all cookies. You do this through your browser settings.
    Since browser is a little different, look at your browser's Help Menu to learn
    the correct way to modify your cookies.
</div>
<div>
    <br>
    <strong>If users disable cookies in their browser:</strong>
</div>
<div>
    If you turn cookies off, Some of the features that make your site experience more
    efficient may not function properly.Some of the features that make your site experience
    more efficient and may not function properly.
</div>
<p><br></p>
<div>
    <strong>Third-party disclosure</strong>
</div>
<div>
    <strong>Do we disclose the information we collect to Third-Parties?</strong>
</div>
<div>
    Part of our mission is to fulfill needs as specified in the requests of those
    who use our site. We transfer the information needed to outside parties including
    names, addresses and contact information such as email and phone number.
    <div>
        <br>
        <strong>We engage in this practice because:</strong>
    </div>
    <div>
        We work with other charitable organizations in order to fulfill requests for help from our web site visitors.
    </div>
</div>
<p><br></p>
<div>
    <strong>Third-party links</strong>
</div>
<div>
    We do not include or offer third-party products or services on our website.
</div>
<div>
    <strong>Google</strong>
</div>
<div>
    Google's advertising requirements can be summed up by Google's Advertising Principles.
    They are put in place to provide a positive experience for users.
    https://support.google.com/adwordspolicy/answer/1316548?hl=en<br>
</div>
<div>
    We have not enabled Google AdSense on our site but we may do so in the future.
</div>
<div>
    <strong>California Online Privacy Protection Act</strong>
</div>
<div>
    CalOPPA is the first state law in the nation to require commercial websites
    and online services to post a privacy policy. The law's reach stretches well
    beyond California to require any person or company in the United States (and
    conceivably the world) that operates websites collecting Personally Identifiable
    Information from California consumers to post a conspicuous privacy policy on
    its website stating exactly the information being collected and those individuals
    or companies with whom it is being shared. - See more at:
    http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf
</div>
<div>
    <br>
    <strong>According to CalOPPA, we agree to the following:</strong>
</div>
<div>
    Users can visit our site anonymously.
</div>
<div>
    Once this privacy policy is created, we will add a link to it on our home page or
    as a minimum, on the first significant page after entering our website.
</div>
<div>
    Our Privacy Policy link includes the word 'Privacy' and can easily be found on
    the page specified above.
</div>
<div>
    <br>
    You will be notified of any Privacy Policy changes:
</div>
<div>
    <strong>&bull;</strong> On our Privacy Policy Page
</div>
<div>
    Can change your personal information:
</div>
<div>
    <strong>&bull;</strong> By logging in to your account
</div>
<div>
    <br>
    <strong>How does our site handle Do Not Track signals?</strong>
</div>
<div>
    We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising
    when a Do Not Track (DNT) browser mechanism is in place.
</div>
<div>
    <br>
    <strong>Does our site allow third-party behavioral tracking?</strong>
</div>
<div>
    It's also important to note that we do not allow third-party behavioral tracking
</div>
<div>
    <strong>COPPA (Children Online Privacy Protection Act)</strong>
</div>
<div>
    When it comes to the collection of personal information from children under the
    age of 13 years old, the Children's Online Privacy Protection Act (COPPA) puts
    parents in control. The Federal Trade Commission, United States' consumer protection
    agency, enforces the COPPA Rule, which spells out what operators of websites
    and online services must do to protect children's privacy and safety online.<br>
</div>
<div>
    We do not specifically market to children under the age of 13 years old.
</div>
<div>
    <strong>Fair Information Practices</strong>
</div>
<div>
    The Fair Information Practices Principles form the backbone of privacy law in the
    United States and the concepts they include have played a significant role in the
    development of data protection laws around the globe. Understanding the Fair
    Information Practice Principles and how they should be implemented is critical to
    comply with the various privacy laws that protect personal information.<br>
</div>
<div>
    <strong>In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:</strong>
</div>
<div>
    We will notify you via email within 7 business days
</div>
<div>
    <br>
    We also agree to the Individual Redress Principle which requires that individuals
    have the right to legally pursue enforceable rights against data collectors and
    processors who fail to adhere to the law. This principle requires not only that
    individuals have enforceable rights against data users, but also that individuals
    have recourse to courts or government agencies to investigate and/or prosecute
    non-compliance by data processors.
</div>
<div>
    <strong>CAN SPAM Act</strong>
</div>
<div>
    The CAN-SPAM Act is a law that sets the rules for commercial email, establishes
    requirements for commercial messages, gives recipients the right to have emails
    stopped from being sent to them, and spells out tough penalties for violations.<br>
</div>
<div>
    <strong>We collect your email address in order to:</strong>
</div>
<div>
    <strong>&bull;</strong> Send information, respond to inquiries, and/or other requests or questions
</div>
<div>
    <br>
    <strong>To be in accordance with CANSPAM, we agree to the following:</strong>
</div>
<div>
    <strong>&bull;</strong> Not use false or misleading subjects or email addresses.
</div>
<div>
    <strong>&bull;</strong> Identify the message as an advertisement in some reasonable way.
</div>
<div>
    <strong>&bull;</strong> Include the physical address of our business or site headquarters.
</div>
<div>
    <strong>&bull;</strong> Monitor third-party email marketing services for compliance, if one is used.
</div>
<div>
    <strong>&bull;</strong> Honor opt-out/unsubscribe requests quickly.
</div>
<div>
    <strong>&bull;</strong> Allow users to unsubscribe by using the link at the bottom of each email.
</div>
<div>
    <strong>
        <br>
        If at any time you would like to unsubscribe from receiving future emails you can:
    </strong>
</div>
<div>
    <strong>&bull;</strong> Follow the instructions at the bottom of each email.
</div>
<p>and we will promptly remove you from any related correspondence.<br></p>
<div>
    <strong>Contacting Us</strong>
</div>
<div>
    If there are any questions regarding this privacy policy, you may contact us using
    the information below.<br>
</div>
<div>
    AllReady
</div>
<div>
    <strong>Humanitarian Toolbox</strong> <br />
    PO Box 212<br />
    Medina, WA 98039<br />
</div>
<div>
    help@htbox.org
</div>
<div>
    <br>
    Last Edited on 2017-11-08
</div>
