input.campaign-search 
{
    width: 400px;
    display: inline-block;
    font-size: 18px;
    height: 50px;
    padding: 0px 5px;
    border: 2px solid #ab6627;
    border-radius: 1px;

}

.campaign-search-button:hover
{
   opacity:1.0;
}

.campaign-search-button {
    margin: 0;
    cursor: pointer;
    opacity:0.7;
    margin-top:-5px;
    margin-left:2px;
}

.campaign-search-button > img {
    vertical-align: top;
}