body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    position: relative;
    padding-bottom: 16rem;
}

.logo-background {
    background-color: #d58033;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 380px;
}

    input.wide,
    select.wide,
    textarea.wide {
        max-width: inherit;
    }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 40px;
    padding-right: 40px;
}

a:not(.unvolunteer,.btn) {
    text-decoration: none;
    color: #ab6627;
}

a:hover, a:focus {
    text-decoration: underline;
    color: #efab6c;
}

footer, footer a {
    margin-top: 50px;
    color: #ab6627;
}

    footer a:hover {
        text-decoration: none;
        color: #efab6c;
    }

    footer > p > img, footer > p > a > img {
        margin-left: 10px;
        margin-right: 10px;
    }

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.date-address {
    color: #555555;
}

.btn {
    border-radius: 0;
}

    .btn.btn-default, a.btn.btn-default {
        background-color: hsl(28.6, 62.9%, 41.2%);
        color: #fff;
    }

        .btn.btn-default.active, a.btn.btn-default.active {
            background-color: hsl(28.9, 80.4%, 50%);
            color: #fff;
        }

            .btn.btn-default.active:hover, .btn.btn-default.active:focus {
                background-color: hsl(28.9, 80.4%, 60%);
            }

        .btn.btn-default:hover, .btn.btn-default:focus {
            color: #fff;
            background-color: hsl(28.9, 80.4%, 68%);
        }

.btn-volunteer {
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 22px;
    padding: 17px 12px;
    line-height: 1.3333333;
}

.navbar {
    background-color: #d58033;
    border-radius: 0;
}

.navbar-brand {
    padding: 0;
}

.navbar-nav > li > a {
    font-size: 20.51px;
}

.navbar-nav a {
    color: #FFFFFF;
}

ul.nav a:hover,
ul.nav a:focus {
    background-color: transparent !important;
    color: white;
    text-decoration: underline;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    color: #000;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    text-decoration: none;
}


.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    /* prevent tab from losing bottom border */
    border-bottom-color: #fff;
}

/*=========================
Navigation
===========================*/
.navbar-default {
    border: none;
}

.navbar-nav {
    margin-top: 1px;
}

    .navbar-nav > li.header {
        background-color: #78481b;
        width: 100%;
        color: #fff;
        padding: 3px 10px 3px 10px;
        font-size: 1.5em;
    }

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:visited,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}

.navbar-default .navbar-nav > li:hover,
.navbar-default .navbar-nav > li:active,
.navbar-default .navbar-nav > li:focus {
    background-color: #ab6627;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color: #fff;
    text-decoration: none;
}

.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus {
    font-weight: bold;
}
/* Navbar toggle button */
.navbar-default .navbar-toggle, .navbar .navbar-toggle {
    border-color: #fff;
}

    .navbar-default .navbar-toggle .icon-bar,
    .navbar .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #ab6627;
    }

    .navbar .navbar-toggle:hover,
    .navbar .navbar-toggle:focus {
        background-color: #d58033;
    }

/* Navbar dropdown */
.navbar-nav > li > .dropdown-menu {
    margin: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.navbar-nav > li:hover .dropdown-menu {
    display: block;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background: none;
    color: #cc1313;
}

/* Admin menu-specific styles */
.dropdown-admin > a, .dropdown-admin > a:active, .dropdown-admin > a:visited, .dropdown-admin > a:focus {
    color: #fff;
}

.navbar-default .navbar-nav > .dropdown-admin.open > a,
.navbar-default .navbar-nav > .dropdown-admin.open > a:hover,
.navbar-default .navbar-nav > .dropdown-admin.open > a:focus {
    color: #fff;
    background-color: #ab6627;
}

.dropdown-admin > .dropdown-menu {
    background-color: #ab6627;
}

    .dropdown-admin > .dropdown-menu > li > a,
    .dropdown-admin > .dropdown-menu > li > a:hover,
    .dropdown-admin > .dropdown-menu > li > a:focus {
        color: #fff;
        text-decoration: none;
    }

    .dropdown-admin > .dropdown-menu > li.active > a {
        font-weight: bold;
    }

    .dropdown-admin > .dropdown-menu > li:hover,
    .dropdown-admin > .dropdown-menu > li:focus {
        background-color: #d58033;
    }
/* Login status */
.navbar .login-status > li > a {
    font-size: 1.1em;
}

.navbar #logoutForm .user-profile-warning {
    float: right;
    line-height: 20px;
    font-size: 1.1em;
    margin-left: -7px;
    margin-top: -7px;
    opacity: 0.7;
}

.campaign-sponsor {
    margin-top: 30px;
    margin-bottom: 30px;
}

.event-list > a {
    display: block;
}

.share-buttons > img {
    margin-top: 30px;
}

.collapsible-panel-header {
    padding: 10px;
    cursor: pointer;
    background-color: #efab6c;
    border: 1px solid #CC7A33;
    color: #fff;
    font-weight: bold;
}

.collapsible-panel-body {
    display: none;
    border-left: 1px solid #CC7A33;
    border-right: 1px solid #CC7A33;
    border-bottom: 1px solid #CC7A33;
    padding: 10px;
}

.collapsible-panel-wrapper {
    margin-bottom: 10px;
    width: 60%;
}
/* Text classes*/
.text-small {
    font-size: small;
}

.unvolunteer {
    width: 55%;
    text-align: center;
    font-size: 9.5pt;
}

.volunteered {
    margin-top: 20px;
}

/* Some overrides for Bootstrap classes */
.table {
    margin-top: 20px;
}

/* Login page */

.btn-authenticator-txt {
    margin-left: 20px;
    padding-right: 20px;
    font-size: 24pt;
    font-family: sans-serif;
}

/* version information */
.version {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 9px;
}

.thermometer {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.thermometer-liquid {
    fill: #d32828;
}

.thermometer-ticks {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

    .thermometer-ticks text {
        display: none;
    }

.thermometer-left-edge {
    stroke: black;
}

.thermometer-right-edge {
    stroke: black;
}

.thermometer-bulb-outline {
    stroke: black;
    stroke-width: 3;
}

/* Event Details Page */
#EventDetail h3 {
    margin-top: 10px;
}

.no-matching-tasks {
    font-size: 15px;
}

#CampaignInfo .panel-heading {
    width: 215px;
    float: left;
}

#CampaignInfo .toggle-accordion-icon {
    width: 25px;
    float: left;
    margin-top: 25px;
    margin-left: -39px;   
}

.task-panel .panel-title {
    font-size: 14px;
    margin-left: -10px;
}

.task-panel .panel-title .toggle-accordion-icon, #CampaignInfo .toggle-accordion-icon
{
    width: 25px;
    float: left;
    font-size: 24px;
    color: hsl(28.6, 62.9%, 41.2%);
}

#CampaignInfo .toggle-accordion-icon {
    margin-top: 7px;
}

#CampaignInfo .panel-heading {
    background-color: white;
}

#CampaignInfo h3 {
    margin-top: 1px;
}

[data-toggle-accordion] {
    cursor: pointer;
}

.task-panel .panel-heading {
    background: #DFDED6 no-repeat top left;
}

.task-panel .panel-body {
    background: #E9E6E3 repeat-y top;
}

.task-panel .task-name {
    font-weight: bold;
}
.task-panel .task-name.isFull {
    font-weight: normal;
}

.task-panel .task-datetime {
    font-size: 13px;
}

.task-panel .task-skills-container {
}

.task-panel .btn-group {
    float: right;
    margin-top: -32px;
}

.task-panel .btn-group > .btn {
    margin-top: -3px;
}

.task-panel .btn-group > .btn-sm {
    margin-top: -2px;
}

.task-list {
    width: 80%;
}

#TasksAccordion .task-panel .task-button-container {
    width: 34%;
    margin: 0 auto;
}

#UserTasksAccordion .task-panel .task-button-container {
    width: 84%;
    margin: 0 auto;
}

#UserTasksAccordion .task-panel .task-button-container.twoButtons {
    width: 46%;
    margin: 0 auto;
}

/* Event Edit Page */
#IsLimitVolunteers, #IsAllowWaitList {
    margin-left: -170px;
}

.inline-form {
    display: inline-block;
}
