body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    position: relative;
    padding-bottom: 16rem;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 380px;
}

    input.wide,
    select.wide,
    textarea.wide {
        max-width: inherit;
    }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 40px;
    padding-right: 40px;
}

a:not(.unvolunteer,.btn) {
    text-decoration: none;
    color: #ab6627;
}

a:hover, a:focus {
    text-decoration: underline;
    color: #efab6c;
}

footer, footer a {
    margin-top: 50px;
    color: #ab6627;
}

footer a:hover {
    text-decoration: none;
    color: #efab6c;
}

footer > p > img, footer > p > a > img {
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.date-address {
    color: #555555;
}

.btn {
    border-radius: 0;
}

    .btn.btn-default, a.btn.btn-default {
        background-color: hsl(28.6, 62.9%, 41.2%);
        color: #fff;
    }

        .btn.btn-default.active, a.btn.btn-default.active {
            background-color: hsl(28.9, 80.4%, 50%);
            color: #fff;
        }

            .btn.btn-default.active:hover, .btn.btn-default.active:focus {
                background-color: hsl(28.9, 80.4%, 60%);
            }

        .btn.btn-default:hover, .btn.btn-default:focus {
            color: #fff;
            background-color: hsl(28.9, 80.4%, 68%);
        }

.btn-volunteer {
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 20px;
}

.navbar {
    background-color: #d58033;
    border-radius: 0;
}

.navbar-brand {
    padding: 0;
}

.navbar-nav > li > a {
    font-size: 20.51px;
}

.navbar-nav a {
    color: #FFFFFF;
}

ul.nav a:hover,
ul.nav a:focus {
    background-color: transparent !important;
    color: white;
    text-decoration: underline;
}

/*=========================
Navigation
===========================*/
.navbar-default {
    border: none;
}

.navbar-nav {
    margin-top: 1px;
}

    .navbar-nav > li.header {
        background-color: #78481b;
        width: 100%;
        color: #fff;
        padding: 3px 10px 3px 10px;
        font-size: 1.5em;
    }

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:visited, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}

.navbar-default .navbar-nav > li:hover, .navbar-default .navbar-nav > li:active, .navbar-default .navbar-nav > li:focus {
    background-color: #ab6627;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color: #fff;
    text-decoration: none;
}
/* Navbar toggle button */
.navbar-default .navbar-toggle, .navbar .navbar-toggle {
    border-color: #fff;
}

    .navbar-default .navbar-toggle .icon-bar,
    .navbar .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #ab6627;
    }

    .navbar .navbar-toggle:hover,
    .navbar .navbar-toggle:focus {
        background-color: #d58033;
    }

/* Navbar dropdown */
.navbar-nav > li > .dropdown-menu {
    margin: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.navbar-nav > li:hover .dropdown-menu {
    display: block;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background: none;
    color: #cc1313;
}

/* Admin menu-specific styles */
.dropdown-admin > a, .dropdown-admin > a:active, .dropdown-admin > a:visited, .dropdown-admin > a:focus {
    color: #fff;
}

.navbar-default .navbar-nav > .dropdown-admin.open > a,
.navbar-default .navbar-nav > .dropdown-admin.open > a:hover,
.navbar-default .navbar-nav > .dropdown-admin.open > a:focus {
    color: #fff;
    background-color: #ab6627;
}

.dropdown-admin > .dropdown-menu {
    background-color: #ab6627;
}

    .dropdown-admin > .dropdown-menu > li > a, .dropdown-admin > .dropdown-menu > li > a:hover, .dropdown-admin > .dropdown-menu > li > a:focus {
        color: #fff;
        text-decoration: none;
    }

    .dropdown-admin > .dropdown-menu > li:hover, .dropdown-admin > .dropdown-menu > li:focus {
        background-color: #d58033;
    }
/* Login status */
.navbar .login-status > li > a {
    font-size: 1.1em;
}

.campaign-sponsor {
    margin-top: 30px;
    margin-bottom: 30px;
}

.activity-list > a {
    display: block;
}

.share-buttons > img {
    margin-top: 30px;
}

.collapsible-panel-header {
    padding: 10px;
    cursor: pointer;
    background-color: #efab6c;
    border: 1px solid #CC7A33;
    color: #fff;
    font-weight: bold;
}

.collapsible-panel-body {
    display: none;
    border-left: 1px solid #CC7A33;
    border-right: 1px solid #CC7A33;
    border-bottom: 1px solid #CC7A33;
    padding: 10px;
}

.collapsible-panel-wrapper {
    margin-bottom: 10px;
    width: 60%;
}
/* Text classes*/
.text-small {
    font-size: small;
}

.unvolunteer {
    width: 100%;
    text-align: center;
    font-size: 9.5pt;
}

.volunteered {
    margin-top: 20px;
}

/* Some overrides for Bootstrap classes */
.table {
    margin-top: 20px;
}

/* Login page */

.btn-authenticator-txt {
    margin-left: 20px;
    padding-right: 20px;
    font-size: 24pt;
    font-family: sans-serif;
}

/* version information */
.version{
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 9px;
}