/*Helpers*/

.margin-1 {
    margin-bottom: 10px;
}
.margin-2 {
    margin-bottom: 20px;
}
.margin-3 {
    margin-bottom: 30px;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    font-family: sans-serif;
    position: relative;
    padding-bottom: 16rem;
}

/** since .form-control isn't designed for radio buttons and checkboxes */
input[type="checkbox"].form-control, input[type="radio"].form-control {
    box-shadow: unset;
    border-image: unset;
    box-shadow: unset;
    max-width: unset;
    width: 20px;
}

label span.required {
    font-size: larger;
    padding-left: 5px;
    color: red;
}

.logo-background {
    background-color: #d58033;
    left: -25px;
    color: #fff;
    padding-bottom: 20px;
    margin-top: -20px;
    margin-bottom: 20px;
    margin-right: -50px;
    margin-left: -50px;
}

@media (min-width: 768px) {
    /* On larger screens set widths on the form inputs since otherwise they're 100% wide */
    input,
    select,
    textarea {
        max-width: 380px;
    }

    input.wide,
    select.wide,
    textarea.wide {
        max-width: inherit;
    }
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 40px;
    padding-right: 40px;
}

a:not(.unvolunteer,.btn) {
    text-decoration: none;
    color: #ab6627;
}

a:hover, a:focus {
    text-decoration: underline;
    color: #efab6c;
}

footer, footer a {
    margin-top: 50px;
    color: #ab6627;
}

    footer a:hover {
        text-decoration: none;
        color: #efab6c;
    }

    footer > p > img, footer > p > a > img {
        margin-left: 10px;
        margin-right: 10px;
    }

header {
    margin-bottom: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.date-address {
    color: #555555;
}

.btn {
    border-radius: 6px;
}

.btn.btn-primary, a.btn.btn-primary {
    border-radius: 6px;
    border-width: 0;
}

.btn.btn-default, a.btn.btn-default {
    background-color: #d58033;
    color: #fff;
    border-radius: 6px;
    border-width: 0;
}

.btn.btn-default.active, a.btn.btn-default.active {
    background-color: #ab6627;
    color: #fff;
}

.btn.btn-default.active:hover, .btn.btn-default.active:focus {
    background-color: #ab6627;
}

.btn.btn-default:hover, .btn.btn-default:focus {
    color: #fff;
    background-color: #ab6627;
}

.btn-volunteer {
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 22px;
    padding: 17px 12px;
    line-height: 1.3333333;
}

.navbar {
    
    background-color:#d58033;
    border-radius: 0;
    margin-bottom:0;
}

.navbar-brand {
    padding: 0;
}

.navbar-nav > li > a {
    font-size: 20.51px;
}

.navbar-nav a, .navbar-nav button.btn-link {
    color: #FFFFFF;
}

ul.nav button.btn-link:hover,
ul.nav button.btn-link:focus,
ul.nav a:hover,
ul.nav a:focus {
    background-color: transparent !important;
    color: white;
    text-decoration: underline;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    color: #000;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    text-decoration: none;
}


.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    /* prevent tab from losing bottom border */
    border-bottom-color: #fff;
}

/*=========================
Navigation
===========================*/
.navbar-default {
    border: none;
}

.navbar-nav {
    margin-top: 1px;
}

.navbar-nav > li.header {
    background-color: #78481b;
    width: 100%;
    color: #fff;
    padding: 3px 10px 3px 10px;
    font-size: 1.5em;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:visited,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > button.btn-link,
.navbar-default .navbar-nav > li > button.btn-link:active,
.navbar-default .navbar-nav > li > button.btn-link:visited,
.navbar-default .navbar-nav > li > button.btn-link:focus {
    color: #fff;
}

.navbar-default .navbar-nav > li:hover,
.navbar-default .navbar-nav > li:active,
.navbar-default .navbar-nav > li:focus {
    background-color: #ab6627;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > button.btn-link:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color: #fff;
    text-decoration: none;
}

.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus {
    font-weight: bold;
}
/* Navbar toggle button */
.navbar-default .navbar-toggle, .navbar .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar,
.navbar .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ab6627;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #d58033;
}

/* Navbar dropdown */
.navbar-nav > li > .dropdown-menu {
    margin: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.navbar-nav > li:hover .dropdown-menu {
    display: block;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background: none;
    color: #cc1313;
}

.navbar-nav > li > a, .navbar-nav > li > a:active, .navbar-nav > li > a:visited, .navbar-nav > li > a:focus {
    color: #fff;
}

.navbar-default .navbar-nav > .navbar-nav > li.open > a,
.navbar-default .navbar-nav > .navbar-nav > li.open > a:hover,
.navbar-default .navbar-nav > .navbar-nav > li.open > a:focus {
    color: #fff;
    background-color: #ab6627;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #ab6627;
}

.navbar-nav > li > .dropdown-menu > li > a,
.navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-nav > li > .dropdown-menu > li > a:focus,
.navbar-nav > li > .dropdown-menu > li > button,
.navbar-nav > li > .dropdown-menu > li > button:hover,
.navbar-nav > li > .dropdown-menu > li > button:focus {
    color: #fff;
    text-decoration: none;
}

.navbar-nav > li > .dropdown-menu > li.active > a {
    font-weight: bold;
}

.navbar-nav > li > .dropdown-menu > li:hover,
.navbar-nav > li > .dropdown-menu > li:focus {
    background-color: #d58033;
}

.dropdown-menu > li > button {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    white-space: nowrap;
}
/* Login status */
.navbar .login-status > li > a,
.navbar .login-status > li > button {
    font-size: 1.1em;
}

.navbar .login-status .user-profile-warning {
    line-height: 20px;
    font-size: 1.1em;
    margin-left: -7px;
    margin-top: -7px;
    opacity: 0.7;
}

.campaign-sponsor {
    margin-top: 30px;
    margin-bottom: 30px;
}

.event-list > a {
    display: block;
}

.share-buttons > img {
    margin-top: 30px;
}

.collapsible-panel-header {
    padding: 10px;
    cursor: pointer;
    background-color: #efab6c;
    border: 1px solid #CC7A33;
    color: #fff;
    font-weight: bold;
}

.collapsible-panel-body {
    display: none;
    border-left: 1px solid #CC7A33;
    border-right: 1px solid #CC7A33;
    border-bottom: 1px solid #CC7A33;
    padding: 10px;
}

.collapsible-panel-wrapper {
    margin-bottom: 10px;
    width: 60%;
}
/* Text classes*/
.text-small {
    font-size: small;
}

.unvolunteer {
    width: 55%;
    text-align: center;
    font-size: 9.5pt;
}

.volunteered {
    margin-top: 20px;
}

/* Some overrides for Bootstrap classes */
.table {
    margin-top: 20px;
}

/*Jumbotron*/
.jumbotron {
    
}
.jumbotron > *:first-child {
    margin-top: 0;
}

/*Panel lister*/
.panel-lister {
    border-color: #ccc;
}

.panel-lister-thumb {
    height: 80px;
}

/* Login page */

.btn-authenticator-txt {
    margin-left: 20px;
    padding-right: 20px;
    font-size: 24pt;
    font-family: sans-serif;
}

/* version information */
.version {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 1rem;
    margin-bottom: .5rem;
    font-size: 9px;
}

.thermometer {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.thermometer-liquid {
    fill: #d32828;
}

.thermometer-ticks {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

    .thermometer-ticks text {
        display: none;
    }

.thermometer-left-edge {
    stroke: black;
}

.thermometer-right-edge {
    stroke: black;
}

.thermometer-bulb-outline {
    stroke: black;
    stroke-width: 3;
}

/* Event Details Page */
#EventDetail h3 {
    margin-top: 10px;
}

.no-matching-tasks {
    font-size: 15px;
}

#CampaignInfo .panel-heading {
    width: 215px;
    float: left;
    background-color: white;
}

#CampaignInfo .toggle-accordion-icon {
    width: 25px;
    float: left;
    margin-top: 7px;
    margin-left: -39px;
}

.task-panel .panel-title {
    font-size: 14px;
    margin-left: -10px;
}

    .task-panel .panel-title .toggle-accordion-icon, #CampaignInfo .toggle-accordion-icon {
        width: 25px;
        float: left;
        font-size: 24px;
        color: hsl(28.6, 62.9%, 41.2%);
    }

#CampaignInfo h3 {
    margin-top: 1px;
}

[data-toggle-accordion] {
    cursor: pointer;
}

.task-panel .panel-heading {
    background: #DFDED6 no-repeat top left;
}

.task-panel .panel-body {
    background: #E9E6E3 repeat-y top;
}

.task-panel .task-name {
    font-weight: bold;
}

    .task-panel .task-name.isFull {
        font-weight: normal;
    }

.task-panel .task-datetime {
    font-size: 13px;
}

.task-panel .task-skills-container {
}

.task-panel .btn-group {
    margin-top: 10px;
}

    .task-panel .btn-group > .btn {
        margin-top: -3px;
    }

    .task-panel .btn-group > .btn-sm {
        margin-top: -2px;
    }

.task-list {
    width: 80%;
}

#TasksAccordion .task-panel .task-button-container {
    width: 34%;
    margin: 0 auto;
}

#UserTasksAccordion .task-panel .task-button-container {
    width: 84%;
    margin: 0 auto;
}

    #UserTasksAccordion .task-panel .task-button-container.twoButtons {
        width: 46%;
        margin: 0 auto;
    }

/* Event Edit Page */

.inline-form {
    display: inline-block;
}

.space:first-child{
    margin-top:5px;
}
.space{
    margin-bottom:5px;
}
.myevents h3 {
    margin-bottom: 20px;
}

.myevents-block {
    border: 1px solid #ab6627;
    border-left: 4px solid #ab6627;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 12px;
    margin-left: 3px;
}

a .myevents-block {
    color: #000;
}

a:hover .myevents-block {
    background: #f5eae1;
}

.myevents-block h5 {
    font-size: 15px;
    margin-top: 3px;
}

.myevents-block h4 {
    font-size: 18px;
    font-weight: bold;
}

.myevents-block h6 {
    font-size: 14px;
}

.myevents-block p {
    font-size: 14px;
}

.lister-logo {
    max-width: 400px;
}

.right-action-btn {
    display: inline-block;
    margin-left: 8px;
}

.org-image {
    margin-top: 12px;
    margin-bottom: 12px;
    max-height: 250px;
    max-width: 600px;
}

.request-filter-section {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    border: 1px solid #ab6627;
    background: rgba(171, 102, 39, 0.14);
    margin-top: 10px;
    margin-bottom: 25px;
}

    .request-filter-section input {
        width: 300px;
        margin-right: 14px;
    }

.org-tile {
    height: 220px;
    border: 1px solid #ab6627;
    background: rgba(171, 102, 39, 0.15);
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    color: black;
}

    .org-tile img {
        max-height: 140px;
    }

    .org-tile h2 {
        margin-top: 0;
        margin-bottom: 25px;
        font-size: 20px;
    }

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.col-xs-7ths,
.col-sm-7ths,
.col-md-7ths,
.col-lg-7ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-7ths {
    width: 14.2%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-7ths {
        width: 14.2%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-7ths {
        width: 14.2%;
        float: left;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-7ths {
        width: 14.2%;
        float: left;
    }
}

.dashboard-block {
    background: #d58033; /* Old browsers */
    background-image: -moz-linear-gradient(-45deg, #d58033 0%, #d58033 20%, #e5bc55 100%);
    background-image: -webkit-linear-gradient(-45deg, #d58033 0%,#d58033 20%,#e5bc55 100%);
    background-image: linear-gradient(135deg, #d58033 0%,#d58033 20%,#e5bc55 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d58033', endColorstr='#e5bc55', GradientType=1);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* <- here it is */
    width: 100%;
    height: 170px;
    text-align: center;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
    color: #fff;
    transition: 0.3s ease;
    margin-bottom: 14px;
}

    .dashboard-block:before {
        display: block;
        content: " ";
        position: absolute;
        z-index: -1;
        background: #000;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: 0.3s ease;
    }

    .dashboard-block:hover:before {
        opacity: 0.2;
    }

    .dashboard-block .dashboard-block-main {
        font-family: Roboto, sans-serif;
        margin-top: -10px;
    }

        .dashboard-block .dashboard-block-main .dashboard-block-main-text {
            font-size: 5.6rem;
            font-weight: 100;
            text-align: left;
        }

        .dashboard-block .dashboard-block-main .dashboard-block-main-suffix {
            font-size: 2.0rem;
            font-weight: 100;
            text-align: left;
            text-transform: initial;
        }

    .dashboard-block .dashboard-block-subtext {
        font-size: 1.3rem;
        font-weight: 300;
        text-align: left;
        white-space: nowrap;
    }

.dashboard-block-link:hover {
    text-decoration: none;
}

.tabbed-nav {
    position: relative;
    padding-top: 20px;
    margin-bottom: 14px;
    border-bottom: 1px solid #e5e5e5;
}

.tabbed-nav nav {
    position: relative;
    top: 1px;
    margin-top: -5px;
}

.tabbed-nav a {
    padding: 14px 24px;
    font-size: 14px;
    line-height: 1.5;
    display: inline-block;
    box-sizing: border-box;
    white-space: nowrap;
    border: solid transparent;
    border-width: 3px 1px 1px;
}

.tabbed-nav .current {
    border: solid transparent;
    border-width: 3px 1px 1px;
    background: #fff;
    border-color: #d58033 #e5e5e5 #fff;
}

.featured-campaign {
    border: 1px solid #d58033;
    padding: 6px;
    margin: 10px;
    background: #e4cdb8;
}

.featured-campaign h2 {
    margin-top: 5px;
    margin-bottom: 15px;
}

.featured-campaign h3 {
    margin-top: 0;
}

.featured-campaign h4 {
    margin-top: 5px;
}

.featured-campaign h4, p{
    color: black;
}
