@model AllReady.Areas.Admin.ViewModels.ManagerInvite.AcceptDeclineCampaignManagerInviteViewModel

@{
    ViewData["Title"] = "Event Manager Invite Declined";
}

<h2>@ViewData["Title"]</h2>

<p>You have declined the invitation to manage the campaign @Model.CampaignName</p>

