@model List<TenantViewModel>
@{  
    ViewData["Title"] = "Organizations";
}

<div class="row">
    <div class="col-md-6">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="col-md-6">
        <div class="pull-right">
            <div class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control input-sm" data-bind="textInput: tenants.searchTerm" placeholder="Search organizations" />
                </div>
                <span data-bind="text: '(' + total + ')' "></span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="hide text-center" data-bind="css: { hide: tenants.filtered().length }">
        <div class="alert alert-warning" role="alert">
            <strong>No matching organizations.</strong>
        </div>
    </div>
    <div class="col-md-12">
        <ul data-bind="foreach: tenants.filtered">
            <li>
                <a data-bind="attr: { href: '/Tenant/' + Id }, text: Name"></a>
            </li>
        </ul>
    </div>
</div>

@section scripts {
    <script>
        var modelTenants = @Json.Serialize(Model);
    </script>
    <script type="text/javascript" src="~/js/tenants.js"></script>
}