@model AllReady.ViewModels.TenantViewModel
@{  ViewData["Title"] = "Organization " + Model.Name; }

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>
            Organization's campaigns
            <button type="button" class="btn" data-bind="css: { active: campaigns.showOld }, click: campaigns.showOld.toggle">
                <i class="fa" data-bind="css: { 'fa-square-o': !campaigns.showOld(), 'fa-check-square-o': campaigns.showOld }"></i>
                Show Old
            </button>
        </h3>
        <span data-bind="visible: !campaigns.filtered().length">
            No current campaigns. Maybe look at an old campaign.
        </span>
        <ul data-bind="foreach: campaigns.filtered">
            <li>
                <a data-bind="attr: { href: '/Campaign/' + Id }, text: Name"></a>
            </li>
        </ul>
    </div>
</div>

@section scripts {
    <script>
        var modelCampaigns = @Json.Serialize(Model.Campaigns);
    </script>
    <script type="text/javascript" src="~/js/ko.filterableList.js"></script>
    <script type="text/javascript" src="~/js/tenant.js"></script>

}
