@model AllReady.ViewModels.TenantViewModel
@{  ViewData["Title"] = "Organization " + Model.Name; }

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>Organization's campaigns</h3>
    </div>
    <div class="col-sm-12">
        <div class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control input-sm" data-bind="textInput: campaigns.searchTerm" placeholder="Search campaigns" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-sm" data-bind="css: { active: campaigns.showOld }, click: campaigns.showOld.toggle">
                    <i class="fa" data-bind="css: { 'fa-square-o': !campaigns.showOld(), 'fa-check-square-o': campaigns.showOld }"></i>
                    Show Old
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <span class="label-warning label hide" data-bind="css: { hide: campaigns.filtered().length }">No matching campaigns.</span>
        <ul data-bind="foreach: campaigns.filtered">
            <li>
                <a data-bind="attr: { href: '/Campaign/' + Id }, text: Name"></a>
            </li>
        </ul>
    </div>
</div>

@section scripts {
    <script>
        var modelCampaigns = @Json.Serialize(Model.Campaigns);
    </script>
    <script type="text/javascript" src="~/js/ko.filterableList.js"></script>
    <script type="text/javascript" src="~/js/tenant.js"></script>

}
