@using AllReady.ViewModels
@using AllReady.ViewModels.Event
@using AllReady.ViewModels.Shared
@model AllReady.ViewModels.Event.EventViewModel

<!-- Confirm Modal -->
<div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="cantCompleteLabel" data-bind="html: title"></h4>
            </div>
            <div class="modal-body">
                <span data-bind="html: body"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click: submit">Confirm</button>
                <button type="button" class="btn btn-link" data-bind="click: cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>