@using AllReady.ViewModels.Event
@model EventViewModel

<!-- Volunteer Modal -->
<div class="modal fade" id="VolunteerModal" tabindex="-1" role="dialog" aria-labelledby="volunteerFormLabel">
    <form data-bind="submit: submitForm">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 data-bind="text: Heading" class="modal-title" id="volunteerFormLabel"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row" data-bind="visible: validationErrors().length">
                        <div class="col-xs-9 col-xs-offset-3">
                            <ul class="list-unstyled form-control-static" data-bind="foreach: validationErrors">
                                <li class="text-danger" data-bind="text: $data"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-horizontal" style="padding:10px">
                            <input asp-for="SignupModel.Name" type="hidden" />
                            @if (!string.IsNullOrWhiteSpace(Model.SignupModel.Name))
                            {
                                <div class="form-group">
                                    <label asp-for="SignupModel.Name" class="control-label col-md-4"></label>
                                    <div class="col-md-8">
                                        <p class="form-control-static" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
                                            @Model.SignupModel.Name
                                        </p>
                                    </div>
                                </div>
                            }

                            <div class="form-group">
                                <label asp-for="SignupModel.AdditionalInfo" class="control-label col-md-4"></label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" data-bind='value: AdditionalInfo' />
                                    <span asp-validation-for="SignupModel.AdditionalInfo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group" data-bind="visible: unassociatedSkills().length">
                                <label class="control-label col-md-4">This Task requires the following skills. Check the box to indicate that you have those skills.</label>
                                <div class="col-md-8">
                                    <ul class="list-unstyled form-control-static" data-bind="foreach: unassociatedSkills">
                                        <li>
                                            <input type="checkbox" name="SignupModel.AddSkillIds" data-bind="checked: $root.AddSkillIds, attr: { id: 'skillNumber' + $index()}, value: Id" />
                                            <label data-bind="attr: { for: 'skillNumber' + $index()}, text: HierarchicalName"></label>
                                            <span class="fa fa-question-circle" data-bind="visible: Description, tooltip: { title: Description, placement: 'top' }" aria-hidden="true"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bind="enable: isValid && !isSubmitting(), click: submitForm">Volunteer</button>
                    <button type="button" class="btn btn-link" data-bind="enable: !isSubmitting(), click: cancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>