@model List<ActivityViewModel>
@{
    ViewData["Title"] = "Activities";
}

<div class="row">
    <div class="col-md-6">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="col-md-6">
        <div class="pull-right">
            <div class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control input-sm" data-bind="textInput: activities.searchTerm" placeholder="Search activities" />
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-sm" data-bind="css: { active: activities.showOld }, click: activities.showOld.toggle">
                        <i class="fa" data-bind="css: { 'fa-square-o': !activities.showOld(), 'fa-check-square-o': activities.showOld }"></i>
                        Show Closed Activities
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info text-center" role="alert" data-bind="css: { hide: !loading() }">
            <strong>Loading...</strong>
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
        <div class="hide text-center" data-bind="css: { hide: loading() || activities.filtered().length }">
            <div class="alert alert-warning" role="alert">
                <strong>No matching activities.</strong>
            </div>
        </div>
        <div class="hide" data-bind="css: { hide: loading() || !activities.filtered().length }">
            <table class="table">
                <tr>
                    <th><span title="Title of the activity">Title</span></th>
                    <th><span title="Description of the activity">Description</span></th>
                    <th><span title="Time period of the activity">When</span></th>
                </tr>
                <!-- ko foreach: activities.filtered -->
                <tr>
                    <td>
                        <a data-bind="attr: { href: '/Activity/' + Id }, text: Title"></a>
                    </td>
                    <td>
                        <span data-bind="text: Description"></span>
                    </td>
                    <td>
                        <span data-bind="text: moment(StartDateTime).format('ddd, MMM D, YYYY, h:mm A')"></span>
                        to
                        <span data-bind="text: moment(EndDateTime).format('ddd, MMM D, YYYY, h:mm A')"></span>
                    </td>
                </tr>
                <!-- /ko -->
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/activities.js"></script>
}


