<footer class="@ViewData["footerCssClass"]">
    <p class="text-center">
        <a href="http://www.htbox.org/blog/" target="_blank"> <img src="~/images/blog-small.png" alt="Check out the Humanitarian Toolbox blog" /></a>
        <a href="https://www.facebook.com/allReadyApp/" target="_blank"> <img src="~/images/fb-small.png" alt="Go to allReady on Facebook" /></a>
        <a href="https://twitter.com/htbox" target="_blank"><img src="~/images/twitter-small.png" alt="Follow Humanitarian Toolbox on Twitter" /></a>
        <a href="https://www.youtube.com/watch?v=BgV9jUJduwE&index=3&list=PLReL099Y5nRfJCkJtGFHZlVCvx2t8OWdA" target="_blank"><img src="~/images/youtube-small.png" alt="YouTube" /></a>
    </p>
    <p class="text-center">Powered by <a href="http://www.htbox.org/" target="_blank">Humanitarian Toolbox</a></p>
    <p class="text-center"><a asp-page="/PrivacyPolicy">Privacy Policy</a></p>
</footer>
