<footer class="@ViewData["footerCssClass"]">
    <p class="text-center">
        <a href="http://www.htbox.org/blog/"> <img src="~/images/blog-small.png" alt="Check out the Humanitarian Toolbox blog" /></a>
        <a href="https://www.facebook.com/allReadyApp/"> <img src="~/images/fb-small.png" alt="Go to allReady on Facebook" /></a>
        <a href="https://twitter.com/htbox"><img src="~/images/twitter-small.png" alt="Follow Humanitarian Toolbox on Twitter" /></a>
        <a href="https://twitter.com/HTbox/media"> <img src="~/images/instagram-small.png" alt="Instagram account" /> </a>
        <a href="https://www.youtube.com/watch?v=BgV9jUJduwE&index=3&list=PLReL099Y5nRfJCkJtGFHZlVCvx2t8OWdA"><img src="~/images/youtube-small.png" alt="YouTube" /></a>
    </p>
    <p class="text-center">Powered by <br /><a href="http://www.htbox.org/">Humanitarian Toolbox</a></p>
</footer>