@using System.Security.Claims
@using System.Threading.Tasks
@using AllReady.Security

@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm"> 
        <ul class="nav navbar-nav navbar-right login-status">
            <li>
                <a asp-controller="Manage" asp-action="Index" title="Manage">Hello @User.GetDisplayName() 
                @if(User.IsUserProfileIncomplete() )
                {
                    <i class="fa fa-exclamation-circle user-profile-warning" title="Click here to add more details to your profile"></i>
                } 
                </a>                
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()" class="log-out"><i class="fa fa-sign-out"></i>&nbsp;Log off</a></li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right login-status">
        <li><a asp-controller="Account" asp-action="Login" class="log-in">Log in</a></li>
    </ul>
}