@using System.Threading.Tasks
@using AllReady.Security
@inject UserManager<ApplicationUser> userManager

@if (User.Identity.IsAuthenticated)
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post">
        <ul class="nav navbar-nav navbar-right login-status">
            <li>
                <a asp-area="" asp-controller="Volunteer" asp-action="Dashboard" title="Dashboard">
                    Dashboard
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">
                    Hello @User.GetDisplayName(userManager)
                    @if (User.IsUserProfileIncomplete())
                    {
                        <i class="fa fa-exclamation-circle user-profile-warning" title="Click here to add more details to your profile"></i>
                    }
                </a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn log-out">
                    <i class="fa fa-sign-out"></i>
                    Log off
                </button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right login-status">
        <li><a asp-area="" asp-controller="Account" asp-action="Login" class="log-in">Log in</a></li>
    </ul>
}