@using System.Threading.Tasks
@using AllReady.Security
@inject UserManager<ApplicationUser> userManager

@if (User.Identity.IsAuthenticated)
{
    //var descriptor = (Microsoft.AspNetCore.Mvc.Controllers.ControllerActionDescriptor)ViewContext.ActionDescriptor;
    //var controllerName = descriptor.ControllerName;
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post">
        <ul class="nav navbar-nav navbar-right login-status">
            <li>
                <a asp-area="" asp-controller="DashboardHub" asp-action="DashboardHub" title="Dashboard Hub">
                    Dashboard Hub
                </a>
            </li>
            <li class="dropdown">
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="dropdown-toggle dropdown-account" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    @if (User.IsUserProfileIncomplete())
                    {
                        <i class="fa fa-exclamation-circle user-profile-warning" title="Click here to add more details to your profile"></i>
                    }
                    Hello @User.GetDisplayName(userManager)
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">
                            My Account
                        </a>
                    </li>
                    <li>
                        <button type="submit" class="btn btn-link log-out dropdown-menu-item-button">
                            Log off
                        </button>
                    </li>
                </ul>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right login-status">
        <li><a asp-area="" asp-controller="Account" asp-action="Login" class="log-in">Log in</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Register" class="log-in">Register</a></li>
    </ul>
}
